<!--File Name: GokulrajVenugopal_COMP229_Assignment2
Student Name: Gokulraj Venugopal
Student ID: 301202722
Date: 21-Feb-2022 
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!--Project Details Page-->
<!DOCTYPE html>
<html>
<body>

<div class='jumbotron jumbotron-fluid' style="text-align: center">
<div class="container">
    <h3>OUR PROJECTS</h3>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="200"src="/Assets/images/project1.png" alt="Card image cap">
    <h5 class="card-title">Mainframe Migration</h5>
    <p class="card-text">Project deal with the migration of mainframe application to microfocus environment 
        with database migration from DB2 to AWS </p>
    <p class="card-text">Role:Test Engineer.</p>
    
     </div>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="200"src="/Assets/images/project2.png" alt="Card image cap">
    <h5 class="card-title">PLCC Migration</h5>
    <p class="card-text"> Project based on credit cards of an American retailer.</p>
    <p class="card-text">Role:Test Engineer</p>
     </div>
     </div>

    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="200"src="/Assets/images/project3.png" alt="Card image cap">
    <h5 class="card-title">ServiceNow Testing</h5>
    <p class="card-text">Project was based on HR Management of American technlogy company</p>
    <p class="card-text">Role:Test Engineer</p>
     </div>


</div>
</div>
</body>
</html> 

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>